<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-list inset>

    <!--Default Holder for custom avatars? -->
    <p class=top-margin style="text-align:center;">
      <img src={{userAvatar}} alt="userPhoto" width=80px height=80px/>

      <ion-item class="transparent">
        <ion-label color="white" stacked>NAME</ion-label>
        <div item-content>
          <ion-label color="white">{{userName}}</ion-label>
        </div>
        <ion-icon (tap)="setName()" color="darkgrey" name="build" item-right *ngIf="editState"></ion-icon>
      </ion-item>

      <ion-item class="transparent">
        <ion-label color="white" stacked>EMAIL</ion-label>
        <div item-content>
          <ion-label color="white">{{emailAddress}}</ion-label>
        </div>
        <ion-icon (tap)="setEmail()" color="darkgrey" name="build" item-right *ngIf="editState"></ion-icon>
      </ion-item>

      <ion-item class="transparent">
        <ion-label color="white" stacked>HEIGHT</ion-label>
        <div item-content>
          <ion-label color="white">{{userHeight}}</ion-label>
        </div>
        <ion-icon (tap)="setHeight()" color="darkgrey" name="build" item-right *ngIf="editState"></ion-icon>
      </ion-item>

      <ion-item class="transparent">
        <ion-label color="white" stacked>WEIGHT</ion-label>
        <div item-content>
          <ion-label color="white">{{userWeight}}</ion-label>
        </div>
        <ion-icon (tap)="setWeight()" color="darkgrey" name="build" item-right *ngIf="editState"></ion-icon>
      </ion-item>

      <ion-item class="transparent">
        <ion-label color="white" stacked>BIRTHDAY</ion-label>
        <div item-content>
          <ion-label color="white">{{userBirthdate}}</ion-label>
        </div>
      </ion-item>

      <ion-item class="transparent">
        <ion-label color="white" stacked>GENDER</ion-label>
        <div item-content>
          <ion-label color="white">{{userGender}}</ion-label>
        </div>
        <ion-icon (tap)="setGender()" color="darkgrey" name="build" item-right *ngIf="editState"></ion-icon>
      </ion-item>
      <p style="text-align: right" (tap)="openMenu()" *ngIf="submitState"> EDIT INFORMATION </p>
      <p style="text-align: right" (tap)="openMenu()" *ngIf="editState"> DONE </p>
  </ion-list>
</ion-content>