<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Achievements</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class = "bg">
  <div class = "buttons">
      <img *ngIf = "startingStrong" (tap) = "showAch1)" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeStartStrongColor.png">
       <img *ngIf = "!startingStrong" (tap) = "showAch1()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeStartStrong.png">

       <img *ngIf = "pushIt" (tap) = "showAch2()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeLimitColor.png">
       <img *ngIf = "!pushIt" (tap) = "showAch2()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeLimit.png">

       <img *ngIf = "stopSmellRoses" (tap) = "showAch3()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeRosesColor.png">
       <img *ngIf = "!stopSmellRoses" (tap) = "showAch3()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeRoses.png">

       <img *ngIf = "nomad" (tap) = "showAch4()" style =" padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeNomadColor.png">
       <img *ngIf = "!nomad" (tap) = "showAch4()" style =" padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeNomad.png">

       <img *ngIf = "trailFanatic" (tap) = "showAch5()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeFanaticColor.png">
       <img *ngIf = "!trailFanatic" (tap) = "showAch5()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeFanatic.png">

       <img *ngIf = "wheelsOfSteel" (tap) = "showAch6()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeWheelsColor.png">
       <img *ngIf = "!wheelsOfSteel" (tap) = "showAch6()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeWheels.png">

       <img *ngIf = "burningRubber" (tap) = "showAch7()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeBurningColor.png">
       <img *ngIf = "!burningRubber" (tap) = "showAch7()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeBurning.png">

       <img *ngIf = "longHaul" (tap) = "showAch8()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeLongHaulColor.png">
       <img *ngIf = "!longHaul" (tap) = "showAch8()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeLongHaul.png">

       <img *ngIf = "neighborhoodWatch" (tap) = "showAch9()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeNeighborColor.png">
       <img *ngIf = "!neighborhoodWatch" (tap) = "showAch9()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeNeighbor.png">

       <img *ngIf = "wayfinder" (tap) = "showAch10()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeWayfinderColor.png">
       <img *ngIf = "wayfinder" (tap) = "showAch10()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeWayfinder.png">

       <img *ngIf = "feelBurn" (tap) = "showAch11()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeFeelBurnColor.png">
       <img *ngIf = "!feelBurn" (tap) = "showAch11()" style ="padding: 5px; width: 150px; height: 150px;  background: transparent !important;"
       src="assets/badgeFeelBurn.png">
      </div>
</ion-content>