page-report {
<<<<<<< HEAD
    .bg{
        background: #1a4d02;
    }
=======
  .bg {
    background: #37721b;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
>>>>>>> 50368120a972c4975bff2b179c7afe3090629d16
}
