<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Record Activity</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce class="bg">
  <div #map id="map"></div>
  <div align="center" *ngIf="typeFlag">
    <div>
      <ion-row>
        <ion-col>
          <p> Duration </p>
          <h1> {{activityTimer}} </h1>

          <p> Speed </p>
          <h1> {{mphString}} mph</h1>
        </ion-col>
        <ion-col>
          <p> Distance </p>
          <h1> {{totalDistanceString}} mi </h1>

          <p> Calories </p>
          <h1> {{totalCaloriesString}} </h1>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div align="center" *ngIf="!typeFlag && startFlag">
    <div>
      <br>
      <h2 class="transparent">Select Activity Type</h2>
      <br>
      <ion-row>
        <ion-col>
          <ion-img (tap)="selectTypeWalk()" style="width: 80px; height: 80px;  background: transparent !important;" src="assets/walk.png"></ion-img>
          <p>WALK</p>
        </ion-col>
        <ion-col>
          <ion-img (tap)="selectTypeRun()" style="width: 80px; height: 80px;  background: transparent !important;" src="assets/run.png"></ion-img>
          <p>RUN</p>
        </ion-col>
        <ion-col>
          <ion-img (tap)="selectTypeBike()" style="width: 80px; height: 80px;  background: transparent !important;" src="assets/bike.png"></ion-img>
          <p>CYCLE</p>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div *ngIf="startFlag && typeFlag" align="center">
    <ion-buttons color="darkBl" align="center">
      <button ion-button (tap)="activityManager()" [ngStyle]="{'background-color':startButtonColor }">
        <ion-icon class="button-icon-padding" align="left" name="play"></ion-icon> {{stateButton}}
      </button>
    </ion-buttons>
  </div>
  <div *ngIf="pauseFlag" align="center">
    <ion-buttons color="darkBl" align="center">
      <button ion-button (tap)="activityManager()" [ngStyle]="{'background-color':pauseButtonColor }">
        <ion-icon class="button-icon-padding" name="pause"></ion-icon> {{stateButton}}
      </button>
    </ion-buttons>
  </div>
  <div *ngIf="resumeFlag" align="center">
    <ion-row>
      <ion-col>
        <ion-buttons align="center">
          <button ion-button (tap)="activityManager()" [ngStyle]="{'background-color':resumeButtonColor }">
            <ion-icon class="button-icon-padding" name="refresh"></ion-icon> {{stateButton}}
          </button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons color="darkBl" align="center">
          <button ion-button (tap)="presentEndActivityActionSheet()" [ngStyle]="{'background-color':endButtonColor }">
            <ion-icon class="button-icon-padding" name="square"></ion-icon> {{endButton}}
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </div>
</ion-content>