page-createaccountfinish {
  .ion-icon {
    margin-top: 20px;
    font-size: 25px;
  }

  .back-button {
    font-size: 25px;
  }

  .restart-submit-buttons {
    position: relative;
    bottom: 0;
  }

  .title {
    font-size: 25px;
    font-family: sans-serif;
  }

  .item-input {
    border-top-color: transparent !important;
  }
}
