page-createaccountname {
  .ion-icon {
    margin-top: 20px;
    font-size: 25px;
  }

  .back-button {
    font-size: 25px;
  }

  .forward-button {
    font-size: 45px;
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
  }

  .title {
    font-size: 25px;
    font-family: sans-serif;
  }

  .item-input {
    border-top-color: transparent !important;
  }
}
